.example-card {
  max-width: 300px;
  max-height: 800px;
  margin: auto;
}

.example-header-image {
  background-image: url('https://www.oberlo.com/media/1603897587-image5.jpg?fm=webp&w=1824&fit=max');
  background-size: cover;
}