<div>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{book?.name}}</mat-card-title>
      <mat-card-subtitle>By: {{book?.authors}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        ISBN: {{book?.isbn}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['form', book?.id]">Edit</button>
      <button mat-button (click)="deleteBook(book?.id)">Delete</button>
    </mat-card-actions>
  </mat-card>
  <br>
</div>
