<div id="book-form">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Book Form
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form" [formGroup]="bookForm" (ngSubmit)="submit()">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="name" id="name">
                </mat-form-field><br>
              
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>ISBN</mat-label>
                    <input matInput formControlName="isbn" id="isbn">
                </mat-form-field><br>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Authors</mat-label>
                    <input matInput formArrayName="authors" id="authors">
                </mat-form-field><br>
               
                <button mat-raised-button type="submit" class="submitBtn" color="warn">Submit</button>
                <button mat-raised-button color="primary">Back</button>
              </form>
        </mat-card-content>
    </mat-card>
</div>
  
  