<div id="book-form">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Book Form
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form" [formGroup]="bookForm" (ngSubmit)="submit()">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Book Name</mat-label>
                  <input matInput formControlName="name" id="name">
                </mat-form-field><br>
              
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>ISBN</mat-label>
                    <input matInput formControlName="isbn" id="isbn">
                </mat-form-field><br>

                <ng-container formArrayName="authors">
                    <div *ngFor="let data of authorArray.controls; index as i"> 
                        <mat-form-field class="example-full-width" appearance="outline" >
                        <mat-label>Author Name</mat-label>
                            <input matInput [formControlName]="i">     
                            <button mat-mini-fab id="author-delete" color="warn" (click)="deleteAuthor(i)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-form-field>   
                    </div>
                      <button type="button" mat-stroked-button color="warn" id="add-author" (click)="addAuthor()">Add Author</button><br><br> 
                </ng-container>

                <div id="submit-btn" >
                    <button mat-raised-button type="submit" class="submitBtn" color="warn">Submit</button>
                    <button mat-raised-button color="primary" [routerLink]="['/book']">Back</button>
                </div>             
              </form>
        </mat-card-content>
    </mat-card>
</div>
  
  