.example-card {
  width: 500px;
  height: 1000px;
  margin: 50px;
}
section {
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: center;

  .app-blog {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  }
}
h1 {
  text-align: center;
  margin: 10px;
  margin-top: 20px;
}