<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{blog?.title}}</mat-card-title>
      <mat-card-subtitle>By: {{blog?.author}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{blog?.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="editAction()">Edit</button>
      <button mat-button (click)="deleteAction()">Delete</button>
    </mat-card-actions>

    <mat-card-title-group >
      <mat-card-subtitle>
        COMMENTS<br><br>
        <p>{{blog?.comments}}</p>
      </mat-card-subtitle>
  </mat-card-title-group>
  </mat-card>
  <br>



