<div id="profile-form">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Create Profile
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form" [formGroup]="profileForm" (ngSubmit)="submit()">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Full Name</mat-label>
                  <input matInput formControlName="name" id="name">
                </mat-form-field><br>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" id="email">
                </mat-form-field><br>
              
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Bio</mat-label>
                    <input matInput formControlName="bio" id="bio">
                </mat-form-field><br>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Active</mat-label>
                    <input matInput formControlName="active" id="active">
                </mat-form-field><br>

                <div id="submit-btn" >
                    <button mat-raised-button type="submit" class="submitBtn" color="warn">Submit</button>
                    <button mat-raised-button type="button" color="primary" [routerLink]="['/profile']">Back</button>
                </div>             
              </form>
        </mat-card-content>
    </mat-card>
</div>
